<ion-tabs (ionTabsDidChange)="change($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="space">
      <ion-img [src]="tab === 'space' ? '/assets/icons/space_active.png' : '/assets/icons/space.png'"></ion-img>
      <ion-label>space+</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="work">
      <ion-img [src]="tab === 'work' ? '/assets/icons/work_active.png' : '/assets/icons/work.png'"></ion-img>
      <ion-label>work+</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="share">
      <ion-img [src]="tab === 'share' ? '/assets/icons/share_active.png' : '/assets/icons/share.png'"></ion-img>
      <ion-label>share+</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <ion-img [src]="tab === 'me' ? '/assets/icons/me_active.png' : '/assets/icons/me.png'"></ion-img>
      <ion-label>me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
